{% extends 'partials/base.html' %}
{% block title %} Book Detail {% endblock title %}

{% block content %}
    <div class="dropdown"> 
        <a href="{{b.cover_image.url}}">
        <img src="{{b.cover_image.url}}" alt="{{b.title}}" width="100" height="100" > 
        <div class="dropdown-content">
            <img src="{{b.cover_image.url}}" alt="{{b.title}}" width="300" height="300" >
            <div>{{b.title}}</div>
        </div>
        </a>
    </div>
    <div><b>Category:</b> {{b.category.title}}</div>
    <div><b>Title:</b> {{b.title}}</div>
    <div><b>Author:</b> {{b.author}}</div>
    <div><b>Posted On:</b> {{b.date_posted}}</div>
    <div><b>Description:</b> {{b.description}}</div>

    {% if likes_exists %}
        {% if b.likes.count == 0 %}
        {% else %}
        <a href="{% url 'likes_add' b.bid %}"><span>Unlike Icon 
                {{b.likes.count}}
            {% endif %}
        </span></a>
    {% else %}
    <a href="{% url 'likes_add' b.bid %}"><span>Like Icon 
    {% if b.likes.count == 0 %}
    {% else %}
        {{b.likes.count}}
    {% endif %}
    </span></a>
    {% endif %}&nbsp;

    {% if progress %}
        {% if reviews.count == 0 %}
        <a href="{% url 'review_list' b.bid%}">Comment Icon</a>
        {% else %}
        <a href="{% url 'review_list' b.bid%}">Comment Icon {{reviews.count}}</a>
        {% endif %}

        {% if favourite_exists %}
        <a href="{% url 'favourite_add' b.bid %}">Remove</a>
        {% else %}
        <a href="{% url 'favourite_add' b.bid %}">Save</a>
        {% endif %}
            
        <a href="{% url 'reading' b.bid %}">Continue To Read</a>

        {% else %}
        
        {% if reviews.count == 0 %}
        <a href="{% url 'review_list' b.bid%}">Comment Icon</a>
        {% else %}
        <a href="{% url 'review_list' b.bid%}">Comment Icon {{reviews.count}}</a>
        {% endif %}

        {% if favourite_exists %}
        <a href="{% url 'favourite_add' b.bid %}">Remove</a>
        {% else %}
        <a href="{% url 'favourite_add' b.bid %}">Save</a>
        {% endif %}
        
        {% if not ongoing_progress and not progress %}
            <a href="{% url 'read' b.bid %}">Read</a>
        {% endif %}

    {% endif %}

{% endblock content %}