{% extends 'partials/base.html' %}
{% block title %} Home {% endblock title %} 

{% block content %}
<h2>Hello World</h2>
{% for message in messages %}
    {% if message %}
    {{ message }}
    {% endif %}
{% endfor %}
<p>User is authenticated: {{ request.user.is_authenticated }}</p>

    {% for b in books %}
    <a href="{% url 'book_details' b.bid %}">
    <div class="dropdown"> 
        <img src="{{b.cover_image.url}}" alt="{{b.title}}" width="100" height="100" >
        <div class="dropdown-content">
            <img src="{{b.cover_image.url}}" alt="{{b.title}}" width="300" height="300" >
            <div>{{b.title}}</div>
        </div>
     </div>
    <div>{{b.title}}</div>
    </a>
    <div>
        {% if b.likes.count == 0 %}
        <a href="{% url 'likes_add' b.bid %}">Like Icon</a>
        {% else %}
        <a href="{% url 'likes_add' b.bid %}">Unlike Icon {{b.likes.count}}</a>
        {% endif %}

        {% if b.review_count == 0 %} 
        {% else %}
        <span>⭐ {{b.review_count}}</span>
        {% endif %}
    </div>
    {% endfor %}


{% endblock content %}
