{% extends 'partials/base.html' %}
{% block title %} Profile {% endblock title %}

{% block content %}
    <h2>Profile</h2>
    <div class="dropdown">
        <img src="{{p.profile_pic.url}}" alt="{{p.username}}" width="100" height="100">
        <div class="dropdown-content">
        <img src="{{p.profile_pic.url}}" alt="{{p.username}}" width="300" height="300">
        <div>{{p.username}}</div>
    </div>
    </div>
    <div>username: {{p.username}}</div>
    {% if p.career %}
        <div>Profession: {{p.career}}</div>
    {% endif %}
    {% if p.location %}
        <div>Location: {{p.location}}</div>
    {% endif %}

     {% if request.user.username == p.username %}
        <div><a href="{% url 'setting' p.username %}">Settings</a></div>
        <a href="{% url 'favourite_list' %}">Saved</a>
    {% endif %}

    {% if progress %}
    <h3>Book{{progress.count|pluralize}} You are reading</h3>
    {% endif %}
    
    {% for p in progress %}
        {% if p.is_complete %}
            <div class="dropdown"> 
                <a href="{{p.book.cover_image.url}}">
                <img src="{{p.book.cover_image.url}}" alt="{{p.book.title}}" width="100" height="100" > 
                <div class="dropdown-content">
                    <img src="{{p.book.cover_image.url}}" alt="{{p.book.title}}" width="300" height="300" >
                </div>
                </a>
            </div>
            <p>Book: {{ p.book.title }}</p>
            <small>Completed</small> <br>
            <a href="{% url 'read' p.book.bid %}">Continue Reading</a>
        {% else %}
            <div class="dropdown"> 
                <a href="{{p.book.cover_image.url}}">
                <img src="{{p.book.cover_image.url}}" alt="{{p.book.title}}" width="100" height="100" > 
                <div class="dropdown-content">
                    <img src="{{p.book.cover_image.url}}" alt="{{p.book.title}}" width="300" height="300" >
                </div>
                </a>
            </div>
            <p>Book: {{ p.book.title }}</p>
            <small>Days Remaining To complete The Book: {{ p.days_remaining }} day{{ p.days_remaining|pluralize }}</small>
            <br>

            {% if likes_exists %}
            <a href="{% url 'likes_add' p.book.bid %}">Unlike Icon {{p.book.likes.count}}</a>
            {% else %}
            <a href="{% url 'likes_add' p.book.bid %}">
                Like Icon 
                {% if p.book.likes.count == 0 %}
                {% else %}
                {{p.book.likes.count}}
                {% endif %}
            </a>
            {% endif %}

            {% if p.book.review_set.count == 0 %}
                <a href="{% url 'review_list' p.book.bid %}">Comment Icon</a>
                {% else %}
                <a href="{% url 'review_list' p.book.bid %}">Comment Icon {{p.book.review_set.count}}</a>
            {% endif %}

            {% if favourite_exists %}
            <a href="{% url 'favourite_add' p.book.bid %}">Remove Icon</a>
            {% else %}
            <a href="{% url 'favourite_add' p.book.bid %}">Save Icon</a>
            {% endif %}
            &nbsp;
            <a href="{% url 'read' p.book.bid %}">Continue Reading</a>
        {% endif %} <br>
    {% endfor %}
{% endblock content %}